<div class="po-row">
  <ng-container *ngFor="let auction of auctions">
    <po-widget class="po-md-3 po-lg-4 po-mt-2">
      <h3 class="po-text-center font-bold">{{auction.name}}</h3>
      <div class="po-p-2">
        <p>
          <b>Valor inicial: </b>
          {{auction.initialValue | currency: 'BRL'}}
        </p>
        <p>
          <b>Usuário: </b>
          {{auction.user?.name}}
        </p>
        <p>
          <b>Abertura: </b>
          {{auction.openingDate !== undefined ? (auction.openingDate?.date | date: 'dd/MM/yyyy') : ''}}
        </p>
        <p>
          <b>Finalizado: </b>
          {{auction.endDate !== undefined ? (auction.endDate?.date | date: 'dd/MM/yyyy') : 'Não'}}
        </p>
      </div>
      <div class="po-row">
        <po-button-group class="po-md-12" [p-buttons]="actions"> </po-button-group>
      </div>
    </po-widget>
  </ng-container>
</div>