<div class="po-row">
  <ng-container *ngFor="let auction of auctions">
    <po-widget class="po-md-3 po-lg-4 po-mt-2">
      <h3 class="po-text-center font-bold">{{auction.name}}</h3>
      <div class="po-p-2">
        <p>
          <b>Valor inicial: </b>
          <!-- Criar validação para que se possa usar o currency pipe -->
          {{auction.initialValue }}
        </p>
        <p>
          <b>Usuário: </b>
          {{auction.user?.name}}
        </p>
        <p>
          <b>Abertura: </b>
          {{auction.openingDate !== undefined ? (auction.openingDate?.date | date: 'dd/MM/yyyy') : ''}}
        </p>
        <p>
          <b>Finalizado: </b>
          {{auction.endDate !== undefined ? (auction.endDate?.date | date: 'dd/MM/yyyy') : 'Não'}}
        </p>
      </div>
      <!-- Botões de ação -->
      <div class="po-row">
        <po-button class="po-md-6" p-icon="po-icon-edit" p-label="Editar" p-type="default" (p-click)="editAuction(auction)"></po-button>
        <po-button class="po-md-6" p-icon="po-icon-delete" p-label="Excluir" p-type="danger" (p-click)="modalConfirmation(auction)">
        </po-button>
      </div>
      <!-- Modal de Confirmação -->
      <po-modal #modal p-title="Excluir Leilão" [p-primary-action]="confirm"
        [p-secondary-action]="cancelLabel ? cancel : null">
        {{modalContent}}
      </po-modal>
    </po-widget>
  </ng-container>
</div>